body {
    background-color:#FFFFFF;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
}

.IMG {
    width: 370px;
    margin-top: 50px;
}

@media (max-width:770px){
    .container{
        margin: 0 10%;

    }
    .IMG{
        width: 100%;
    }
}